name: Java CI

on:
  workflow_dispatch:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    if: startsWith(github.event.head_commit.message, '[CI skip]') == false
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Set up JDK 16
      uses: actions/setup-java@v4.0.0
      with:
        java-version: 16
        distribution: temurin
    - name: Build with Maven
      run: mvn package --file pom.xml
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.2.0
      with:
        name: "GSFH"
        path: "target/*.jar"
  
